* {
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #f8f9fa;
    text-align: center;
}

header  {
    font-weight: bold;
    font-size: 18px;
    color: black;
}

header address {
    font-size: 15px;
}

.header1{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: bolder;
}
.header1 div {
    display: flex;
    flex-direction: column;
    gap: 5px; /* Adds spacing between paragraphs */
}

.header1 p {
    margin: 0;
    color: #333;
}

#course{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 10px;
}
tr, td, th{
    border: 2px solid black;
    margin:3px;
    padding: 5px;
}
td{
    font-size: 12px;
}
#lunch{
    background-color: red;
    color: white;
}

table thead tr:first-child th {
    border: none;
}

#slothead{
    background-color: rgb(131, 213, 73);
}
#space{
    border: none;
}

